@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

//VARIABLES

$title-color: #818794;
$text-sencond-color: #F5663B;
$inner-shadow: inset -3px -3px 5px rgba(255,255,255, 0.5), inset 3px 3px 5px rgba(158, 158, 158, 0.12);
$linear-gradient: linear-gradient(90deg, #FD910B, #F5663B);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
	background-color: #F9F7F7;
}

.hero {
	display: flex;
	margin: 0 auto;
	margin-top: 50px;    
	max-width: 1200px;
	height: auto;
	flex-wrap: wrap;
	border: 1px;
	padding: 25px;
	box-shadow: $inner-shadow;
	border-radius: var(--border-radius1);
}

.hero__panel {
	width: 40%;
	max-width: 340px;
	height: auto;
	margin: 0 auto;
	h2 {
		color: #818794;
		font-family: 'roboto', sans-serif;
		font-size: 1.5rem;
		font-weight: bold;
	}
	h3 {
		color: #C4C4C4;
		font-family: 'roboto', sans-serif;
		font-size: 1.5rem;
		font-weight: 300;
	}
}

.hero__image {
	display: flex;
	width: 60%;
	max-width: 760px;
	height: 100%;	
	border-radius: var(--border-radius1);
	margin-left: 0 20px;
	justify-content: center;
}

.hero__button {
	height: 33px;
	width: 193px;
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	box-shadow: $inner-shadow;
	border-radius: var(--border-radius1);
}

.hero__button--add {
	width: 100%;
	height: 100%; 
	box-shadow: 
	inner 0px 2px 3px rgba(0, 0, 0, 0.15)
	0px 1px 2px 1px rgba(0, 0, 0, 0.15),
	;
	cursor: pointer;
	border: none;
	outline: none;
	font-size: .65rem;
	text-transform: uppercase;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: var(--border-radius2);
	color: var(--color-terciary);
	background: $linear-gradient;
}

.hero__panel--data {
	display: flex;
	width: 100%;
	justify-content: space-between;
	div {
		width: auto;
		padding: 15px;		
	}
}

.hero__buttons-data {
	margin: 5px;
	padding: 15px;
	width: auto;
	height: 85px;
	border-radius: var(--border-radius2);
	box-shadow: $inner-shadow;
	color: var(--title-color);
	ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		text-align: center;
		list-style: none;
	}
}

.hero__buttons-data--qty {
	font-size: 2.7rem;
	font-weight: bold;
	text-shadow: inset 3px 4px 5px rgba(0, 0, 0, .5);
	color: #FD910B;
}

.hero__buttons-data--desc {
	font-size: .7rem;
}

.hero__nutritional--container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
}

.hero__receipe-details--container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0 0 5px 0;
  width: 103px;
  height: 103px;
  border-radius: 50%;
	color: #818794;
  box-shadow: $inner-shadow;
}

.hero__receipe-details--inner {
  display: flex;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
	box-shadow: 
		-3px -3px 5px rgba(255,255,255, 0.5), 
		3px 3px 5px rgba(158, 158, 158, 0.12);
  background-color: #F9F7F7;
}

.hero__receipe-details--data {
	display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  list-style: none;
	border-radius: 50%;
}

.ingre__tittle{
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	height: auto;
	padding: 15px 0;
	margin: 20px auto;
	border-bottom: 1px solid #E5E5E5;
	h2 {
		color: $title-color;
		font-family: 'roboto', sans-serif;
		font-weight: medium;
		font-size: 1.15rem;
	}
	p {
		color: $text-sencond-color;
		font-family: 'roboto', sans-serif;
		font-weight: medium;
		font-size: 1.15rem;
	}
}

.ingre__list {
	max-width: 1200px;
	margin: 0 auto;
	color: $title-color;
	ul li {
		display: flex;
		margin-bottom: 5px;
	}
}

.ingre__list--plus {
	padding: 3px;
	width: 20px;
	height: 20px;
	box-shadow:
		inset -1px -1px 2px rgba(255,255,255, 0.5), 
		inset 1px 1px 2px rgba(158, 158, 158, 0.12);
	border-radius: 50%;
	div {
		display: flex;
		justify-content: center;
		align-items: center;		
		width: 100%;
		height: 100%;
		font-size: 8px;
		color: white;
		border-radius: 50%;
		box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.1 );
		background: $linear-gradient;
	}
}

.directions {
	margin:20px auto;
	max-width: 1200px;
	.directions__title {
		color: $text-sencond-color;
		font-weight: medium;
		font-size: 1.5rem;
	}	
}

.directions__steps {
	margin-top: 10px;
	list-style: none;
	li h3 {
		color: $text-sencond-color;
		font-weight: normal;
	}
	li p {
		color: $title-color;
		margin-top: 10px;
	}
}
